<tr class="cart_item cart-{{ product.id }}" id="cart-{{ product.id }}">
    <td class="product-remove">
        <form class="mx-2">
            <input type="hidden" value="{{ product.id }}" name="product_id">
            <button data-product-id="{{ product.id }}"
                    class="btn btn-outline-danger cart_product_delete">
                ×
            </button>
        </form>
    </td>

    <td class="product-thumbnail">
        {{ product.name }}
    </td>

    <td class="product-price">
        <span class="amount">{{ product.price|price}}</span>
    </td>

    <td class="product-quantity" style="display: flex; justify-content: center">
        <form>
            <input type="hidden" value="plus" name="type">
            <input type="hidden" value="{{ product.id }}" name="product_id">
            <div class="quantity buttons_added">
                <input data-product-id="{{ product.id }}" type="button" class="minus cart_product_update" value="+">
            </div>
        </form>
        <span style="margin: 5px 10px" class="amount">{{ product.qty}}</span>
        <form>
            <input type="hidden" value="minus" name="type">
            <input type="hidden" value="{{ product.id }}" name="product_id">
            <div class="quantity buttons_added">
                <input data-product-id="{{ product.id }}" type="button" class="minus cart_product_update" value="-">
            </div>
        </form>
    </td>

    <td class="product-subtotal">
        <span class="amount">{{ product.price|oldPrice(product.qty)}}</span>
    </td>
</tr>
