{% extends 'base.html.twig' %}

{% block title %}Brand{% endblock %}

{% block body %}
    <h1>Brand</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brand.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ brand.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ brand.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_brand_index') }}">back to list</a>

    <a href="{{ path('app_brand_edit', {'id': brand.id}) }}">edit</a>

    {{ include('brand/_delete_form.html.twig') }}
{% endblock %}
