{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}

    <div class="container my-5">

        <h1>Upload Excel file</h1>

        <form class="w-50" action="{{ path('excel_store') }}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input required name="file" class="form-control" type="file" id="formFile">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="example-wrapper my-5">
           <a class="btn btn-outline-success" href="{{ path('export') }}">Download <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                   <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
               </svg></a>
        </div>

    </div>
{% endblock %}
