{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Picture</th>
            <th scope="col">Pictures</th>
            <th style="width: 25%;" scope="col">Add image</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td><img style="width: 50px; height: 50px;" src="{{ asset('/uploads/pictures/products/' ~ product.picture) }}"
                         alt="#"></td>
                <td>
                    {% for image in product.getImages %}
                        <img style="width: 50px; height: 50px;" src="{{ asset('/uploads/pictures/products/' ~ image.image) }}"
                             alt="#">
                    {% endfor %}
                </td>
                <td>
                    <form action="{{ path('new_image') }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" value="{{ product.id }}" name="product_id">
                        <div class="mb-3 d-flex">
                            <label for="formFile" class="form-label"></label>
                            <input name="pictures[]" multiple class="form-control" type="file" id="formFile">
                            <button class="btn btn-primary" type="submit">
                                Add
                            </button>
                        </div>

                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if(products) %}
        <div class="navigation offset-4">
            {{ knp_pagination_render(products) }}
        </div>
    {% endif %}
{% endblock %}
