{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{ 'Categories'|trans }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-area">
        <!-- Slider -->
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                <li>
                    <img src="{{ asset('/assets/img/h4-slide4.png') }}" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            iPhone <span class="primary">6 <strong>Plus</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Dual SIM</h4>
                        {#                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a> #}
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for category in categories %}
                    <div style="margin-top: 20px;" class="col-md-3 col-sm-6">
                        <div class="single-promo promo1">
                            <i class="fa fa-gift"></i>
                            <a
                               href="{{ path('category_show', {'id': category.id}) }}"><p style="color: white;">{{ category.name }}</p></a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div> <!-- End promo area -->
{% endblock %}
