{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="slider-area">
        <!-- Slider -->
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                <li>
                    <img src="{{ asset('/assets/img/h4-slide.png') }}" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            iPhone <span class="primary">6 <strong>Plus</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Dual SIM</h4>
                        {#                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a> #}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div style="margin-top: 100px; margin-bottom: 200px" class="container my-5">
        <h1>Category</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('category_index') }}">back to list</a>
    </div>
{% endblock %}
