{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}

    <div class="container my-5">

        <h1>Get all products from urls</h1>

        <div>
            <a id="get_new_products" class="btn btn-success" disabled href="{{ path('job_store') }}">Get products</a>
        </div>
        <div id="spinner">

        </div>
        <div id="progress mt-2">

            <div class="progress mt-2">

                <div style="width: 0;" class="progress-bar" role="progressbar" aria-valuenow="75"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
    </div>

    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>

    <script src="../assets/js/products.js"></script>

    <script src="../assets/js/main.js"></script>
{% endblock %}
