{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{ 'Shop'|trans }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
        <form>
            <div class="input-group my-5">
                <input name="name" type="text" class="form-control" placeholder="Product name"
                       aria-label="name">
                <button id="search_product" class="add_to_cart_button">{{ 'Search'|trans }}</button>
            </div>
        </form>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div id="all_paginate_products">
                <div class="row" id="paginate_products">
                    {% for product in products %}
                        <div class="col-md-4 col-sm-6">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    {% if(product.picture) %}
                                        <img style="width: 200px; height: 250px"
                                             src="{{ asset('uploads/pictures/products/' ~ product.picture) }}"
                                             alt="#">
                                    {% else %}
                                        <img style="width: 200px; height: 250px"
                                             src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                             alt="#">
                                    {% endif %}
                                </div>
                                <h2>
                                    <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name|slice(0, 25) }}</a></h2>
                                <div class="product-carousel-price">
                                    <ins>{{ product.price|price }}</ins>
                                    <del>{{ product.price|oldPrice(2) }}</del>
                                </div>

                                <div class="product-option-shop">
                                    <form action="{{ path('cart_store') }}">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button data-product-id="{{ product.id }}" id="add_product_btn"
                                                class="add_to_cart_button mt-3">{{ 'Add to cart'|trans }}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if(products) %}
                        <div class="navigation text-center mt-5">
                            {{ knp_pagination_render(products) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
