<div class="row" id="paginate_products">
    {% for product in products %}
        <div class="col-md-4 col-sm-6">
            <div class="single-shop-product">
                <div class="product-upper">
                    {% if(product.picture) %}
                        <img style="width: 200px; height: 250px"
                             src="{{ asset('uploads/pictures/products/' ~ product.picture) }}"
                             alt="#">
                    {% else %}
                        <img style="width: 200px; height: 250px"
                             src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                             alt="#">
                    {% endif %}
                </div>
                <h2><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name|slice(0, 15) }}</a>
                </h2>
                <div class="product-carousel-price">
                    <ins>{{ product.price|price }}</ins>
                    <del>{{ product.price|oldPrice(2) }}</del>
                </div>
                <div class="product-option-shop">
                    <form action="{{ path('cart_store') }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button data-product-id="{{ product.id }}" id="add_product_btn"
                                class="add_to_cart_button mt-3">{{ 'Add to cart'|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if(products) %}
        <div class="navigation text-center mt-5">
            {{ knp_pagination_render(products) }}
        </div>
    {% endif %}
</div>