{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="my-5 container">

        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            <h2>{{ 'Shop'|trans }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-sidebar">
                            <h2 class="sidebar-title">{{ 'Products'|trans }}</h2>
                            {% for product in products %}
                                <div class="thubmnail-recent">
                                    {% if(product.picture) %}
                                        <img class="recent-thumb"
                                             src="{{ asset('uploads/pictures/products/' ~ product.picture) }}"
                                             alt="#">
                                    {% else %}
                                        <img class="recent-thumb"
                                             src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                             alt="#">
                                    {% endif %}
                                    <h2><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                                    </h2>
                                    <div class="product-sidebar-price">
                                        <ins>{{ product.price|price }}</ins>
                                        <del>{{ product.price|oldPrice(2) }}</del>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="single-sidebar">
                            <h2 class="sidebar-title">Comments</h2>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Comments
                            </button>
                            <div class="collapse" id="collapseExample">
                                <ul class="list-group">
                                    {% for comment in product.comments %}
                                        <li class="list-group-item">Author: {{ comment.user.name }}.
                                            Created at: {{ comment.createdAt | ago }} </li>
                                        <li style="display: flex; justify-content: space-around"
                                            class="list-group-item">{{ comment.content }}
                                            {% if (comment.user.id == app.user.id) %}
                                                <form method="post"
                                                      action="{{ path('app_comment_delete', {'id': comment.id}) }}">
                                                    <button class="btn btn-danger small">{{ 'Delete'|trans }}</button>
                                                </form>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li class="list-group-item">No records</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="product-content-right">
                            <div class="product-breadcroumb">
                                <a href="{{ path('product_top') }}">Home</a>
                                {#                                <a href="{{ path('category_show', {'id': product.category.id}) }}">{{ product.category.name }}</a> #}
                                <a href="">{{ product.name }}</a>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="product-images">
                                        <div class="product-main-img">
                                            {% if(product.picture) %}
                                                <img id="main_image" style="width: 200px; height: 250px"
                                                     src="{{ asset('uploads/pictures/products/' ~ product.picture) }}"
                                                     alt="#">
                                            {% else %}
                                                <img id="main_image" style="width: 200px; height: 250px"
                                                     src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                                     alt="#">
                                            {% endif %}
                                        </div>

                                        <div class="product-gallery">
                                            <div class="related-products-wrapper">
                                                <h2 class="related-products-title">images</h2>
                                                <div class="related-products-carousel">
                                                    {% for image in product.getImages %}
                                                        <a data-image-src="{{ asset('/uploads/pictures/products/' ~ image.image) }}"
                                                           class="change_image" href="#">
                                                            <img
                                                                    src="{{ asset('/uploads/pictures/resize/' ~ image.getMini.picture) }}"
                                                                    alt="#">
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="product-inner">
                                        <h2 class="product-name">{{ product.name }}</h2>

                                        <div class="col-md-4 border-right">
                                            <div class="ratings text-center p-4 py-5"> <span class="badge bg-success">{{ total|number_format(2, '.', ',') }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg></span> </div>
                                        </div>

                                        <div class="product-inner-price">
                                            <ins>{{ product.price|price }}</ins>
                                            <del>{{ product.price|oldPrice(2) }}</del>
                                        </div>
                                        <form class="cart" action="{{ path('cart_store') }}">
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <button data-product-id="{{ product.id }}" id="add_product_btn"
                                                    class="add_to_cart_button mt-3">{{ 'Add to cart'|trans }}
                                            </button>
                                        </form>

                                        <div role="tabpanel">
                                            <ul class="product-tab" role="tablist">
                                                <li role="presentation" class="active"><a href="#home"
                                                                                          aria-controls="home"
                                                                                          role="tab" data-toggle="tab">Description</a>
                                                </li>
                                                <li role="presentation"><a href="#profile" aria-controls="profile"
                                                                           role="tab" data-toggle="tab">Comment</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                    <h2>Product Description</h2>
                                                    <p>{{ product.description }}</p>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                                    <div class="submit-review">
                                                        <form action="{{ path('app_comment_new') }}" method="post">
                                                            <input type="hidden" name="product_id"
                                                                   value="{{ product.id }}">
                                                            <p><label for="review">Enter comment</label> <label
                                                                        for=""></label><textarea
                                                                        name="content" id="" cols="30"
                                                                        rows="10"></textarea>
                                                            </p>
                                                            <p><input type="submit" value="Submit"></p>
                                                        </form>
                                                        {% if (is_grated) %}
                                                            <form action="{{ path('app_grade_destroy', {'id': is_grated.getId}) }}" method="post">
                                                                <input type="hidden" name="product_id"
                                                                       value="{{ product.id }}">
                                                                <h3>Delete your grade</h3>
                                                                <p><input type="submit" value="Delete"></p>
                                                            </form>
                                                            {% else %}
                                                                <form action="{{ path('app_grade_store') }}" method="post">
                                                                    <input type="hidden" name="product_id"
                                                                           value="{{ product.id }}">
                                                                    <div style="margin: 10px 0" class="btn-group" data-toggle="buttons">
                                                                        <h4>Grade</h4>
                                                                        <label class="btn btn-primary">
                                                                            <input value="1" type="radio" name="options"
                                                                                   id="option1">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                                 height="16" fill="currentColor"
                                                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                            </svg>
                                                                        </label>
                                                                        <label class="btn btn-primary">
                                                                            <input value="2" type="radio" name="options"
                                                                                   id="option2">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                                 height="16" fill="currentColor"
                                                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                            </svg>
                                                                        </label>
                                                                        <label class="btn btn-primary">
                                                                            <input value="3" type="radio" name="options"
                                                                                   id="option3">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                                 height="16" fill="currentColor"
                                                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                            </svg>
                                                                        </label>
                                                                        <label class="btn btn-primary">
                                                                            <input value="4" type="radio" name="options"
                                                                                   id="option3">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                                 height="16" fill="currentColor"
                                                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                            </svg>
                                                                        </label>
                                                                        <label class="btn btn-primary">
                                                                            <input value="5" type="radio" name="options"
                                                                                   id="option3">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                                 height="16" fill="currentColor"
                                                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                            </svg>
                                                                        </label>
                                                                    </div>
                                                                    <p><input type="submit" value="Submit"></p>
                                                                </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="related-products-wrapper">
                                <h2 class="related-products-title">Related Products</h2>
                                <div class="related-products-carousel">
                                    {% for prod in products %}
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                {% if(prod.picture) %}
                                                    <img style=" height: 270px"
                                                         src="{{ asset('uploads/pictures/products/' ~ prod.picture) }}"
                                                         alt="#">
                                                {% else %}
                                                    <img style=" height: 270px"
                                                         src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                                         alt="#">
                                                {% endif %}
                                                <div class="product-hover">
                                                    <form action="{{ path('cart_store') }}">
                                                        <input type="hidden" name="product_id" value="{{ prod.id }}">
                                                        <a data-product-id="{{ prod.id }}" id="add_product_btn"
                                                           class="add-to-cart-link mt-3">{{ 'Add to cart'|trans }}
                                                        </a>
                                                    </form>
                                                    <a href="{{ path('product_show', {'id': prod.id}) }}"
                                                       class="view-details-link"><i class="fa fa-link"></i> See
                                                        Details</a>
                                                </div>
                                            </div>

                                            <h2><a href="{{ path('product_show', {'id': prod.id}) }}">{{ prod.name }}</a></h2>

                                            <div class="product-carousel-price">
                                                <ins>{{ prod.price|price }}</ins>
                                                <del>{{ prod.price|oldPrice(2) }}</del>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
