{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <div class="slider-area">
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                <li>
                    <img src="{{ asset('/assets/img/h4-slide3.png') }}" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            iPhone <span class="primary">6 <strong>Plus</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Dual SIM</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="maincontent-area" style="margin-bottom: 200px; margin-top: 100px;">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">{{ 'Products'|trans }}</h2>
                        <div class="product-carousel">
                            {% for product in products %}
                                <div class="single-product">
                                    <div class="product-f-image">
                                        {% if(product.picture) %}
                                            <img
                                                    src="{{ asset('uploads/pictures/products/' ~ product.picture) }}"
                                                    alt="#">
                                        {% else %}
                                            <img
                                                    src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                                    alt="#">
                                        {% endif %}
                                        <div class="product-hover">
                                            <form action="{{ path('cart_store') }}">
                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                <a data-product-id="{{ product.id }}" id="add_product_btn"
                                                   class="add-to-cart-link mt-3">Add to cart
                                                </a>
                                            </form>
                                            <a href="{{ path('product_show', {'id': product.id}) }}"
                                               class="view-details-link"><i class="fa fa-link"></i> See
                                                details</a>
                                        </div>
                                    </div>

                                    <h2><a href="">{{ product.name }}</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>$ {{ product.price|price }}</ins>
                                        <del>{{ product.price|oldPrice(2) }}</del>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-4">
            <a class="boxed-btn5" href="{{ path('product_index') }}">More Items</a>
        </div>
    </div>
{% endblock %}


