<h1>New Posts</h1>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts_all.getAll %}
        <tr>
            <td>{{ post.title }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
