<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- CSS here -->
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header role="banner">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            {% if (app.user) %}
                                <li><a href="{{ path('app_user_show', {'id': app.user.id}) }}"><i
                                                class="fa fa-user"></i>{{ 'My Account'|trans }}</a></li>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('app_logout') }}"><i class="fa fa-user"></i>{{ 'Sign out'|trans }}
                                    </a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}"><i class="fa fa-user"></i>{{ 'Sign in'|trans }}
                                    </a></li>
                                <li><a href="{{ path('app_register') }}"><i
                                                class="fa fa-user"></i>{{ 'Register'|trans }}</a></li>
                            {% endif %}
                        </ul>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                            class="key">  {{ app.request.locale|locale_name(app.request.locale)|u.title }} :<b
                                                class="caret"></b></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form action="{{ path('app_language_switch') }}" method="post">
                                            <input type="hidden" value="en" name="_locale">
                                            <button class="btn btn-primary">{{ 'EN'|trans }}</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{{ path('app_language_switch') }}" method="post">
                                            <input type="hidden" value="ru" name="_locale">
                                            <button class="btn btn-primary">{{ 'RU'|trans }}</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{{ path('app_language_switch') }}" method="post">
                                            <input type="hidden" value="fr" name="_locale">
                                            <button class="btn btn-primary">{{ 'FR'|trans }}</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{{ path('app_language_switch') }}" method="post">
                                            <input type="hidden" value="kg" name="_locale">
                                            <button class="btn btn-primary">{{ 'KG'|trans }}</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{{ path('app_language_switch') }}" method="post">
                                            <input type="hidden" value="kz" name="_locale">
                                            <button class="btn btn-primary">{{ 'KZ'|trans }}</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="{{ asset('/assets/img/logo.png') }}" alt=""/></a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        <button class="btn btn-primary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownMenuButton">
                            <table class="shop_table cart" style="width: 700px;">
                                <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-name">{{ 'Product'|trans }}</th>
                                    <th class="product-quantity">{{ 'price'|trans }}</th>
                                    <th class="product-quantity">{{ 'QTY'|trans }}</th>
                                    <th class="product-subtotal">{{ 'Total'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody id="cart_products">
                                {% for product in cart_all.getAll %}
                                    <tr class="cart_item cart-{{ product.id }}" id="cart-{{ product.id }}">
                                        <td class="product-remove">
                                            <form class="mx-2">
                                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                                <button data-product-id="{{ product.id }}"
                                                        class="btn cart_product_delete">
                                                    ×
                                                </button>
                                            </form>
                                        </td>

                                        <td class="product-thumbnail">
                                            {{ product.name|slice(0, 25) }}
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">{{ product.price|price}}</span>
                                        </td>

                                        <td class="product-quantity" style="display: flex; justify-content: center">
                                            <form>
                                                <input type="hidden" value="plus" name="type">
                                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                                <div class="quantity buttons_added">
                                                    <input data-product-id="{{ product.id }}" type="button" class="minus cart_product_update" value="+">
                                                </div>
                                            </form>
                                            <span style="margin: 5px 10px" class="amount">{{ product.qty}}</span>
                                            <form>
                                                <input type="hidden" value="minus" name="type">
                                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                                <div class="quantity buttons_added">
                                                    <input data-product-id="{{ product.id }}" type="button" class="minus cart_product_update" value="-">
                                                </div>
                                            </form>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">{{ product.price|oldPrice(product.qty)}}</span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">{{ 'No records'|trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <table>
                                        <tbody>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount cart_total">$ {{ cart_all.getTotal|number_format(2, '.', ',') }}</span></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <form action="{{ path('order_create') }}" method="GET">
                                                    <button class="checkout-button button alt wc-forward" type="submit">
                                                        {{ 'Save'|trans }}
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('order_create') }}">{{ 'Cart'|trans }} - <span
                                    class="cart-amunt cart_total"> {{ cart_all.getTotal }}</span> <i
                                    class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('product_top') }}"><h5>{{ 'Home'|trans }}</h5></a></li>
                        <li><a href="{{ path('product_index') }}"><h5>{{ 'Products'|trans }}</h5></a></li>
                        <li><a href="{{ path('order_create') }}"><h5>{{ 'Cart'|trans }}</h5></a></li>
                        <li><a href="{{ path('category_index') }}"><h5>{{ 'Categories'|trans }}</h5></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="../assets/js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="../assets/js/main.js"></script>
<script src="../assets/js/cart.js"></script>
<script src="../assets/js/images.js"></script>
<script src="../assets/js/products.js"></script>
<script src="../assets/js/parse.js"></script>


{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div style="margin: 0 auto" class="alert alert-{{ label }} text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% block body %}



{% endblock %}

<footer class="site-footer" role="contentinfo">
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">

                {% for shop in shops_all.getAll %}
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-menu">
                            <h2 class="footer-wid-title">{{ shop.name }}</h2>
                            <ul>
                                <li>Address:</li>
                                <li>{{ shop.address }}</li>
                                <li>Phone:</li>
                                <li>{{ shop.phone }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <div>
                            <h3>{{ 'Exchange'|trans }}</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Currency</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for currency in currency_all.getAll %}
                                    <tr>
                                        <td>{{ currency.code }}</td>
                                        <td>{{ currency.value }}</td>
                                        <td>{{ currency.createdAt | ago }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Enter your email for mails</p>
                        <div class="newsletter-form">
                            <form action="{{ path('email_new') }}" method="post" class="col-12 mb-5">
                                <div class="row align-items-center">
                                    <div class="col-md-8 mb-3 mb-md-0">
                                        <label for="email"></label><input name="email" id="email" type="email"
                                                                          class="form-control"
                                                                          placeholder="Enter Email Address">
                                        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2022 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com"
                                                                          target="_blank">test.com</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
