{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="container my-5">

        <h1>Posts</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('post_show', {'id': post.id}) }}">Show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
