{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="container my-5">

    <h1 class="my-5">Post</h1>

        <div class="card" style="width: 18rem;">
            {% if (post.picture) %}
              <img src="{{ asset('uploads/pictures/posts/' ~ post.picture) }}"
                         alt="#">
            {% else %}
                <img src="https://www.carlscards.com/wp-content/uploads/2020/05/No-Image.jpg"
                     alt="#">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.description | raw }}</p>
                <a class="btn btn-outline-success" href="{{ path('post_index') }}">Back to list</a>
            </div>
        </div>


    </div>
{% endblock %}
