{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}

    <div class="container my-5">

        <h1>Upload Proxies</h1>


        <button id="upload_proxies" type="submit" class="btn btn-primary">Upload</button>

    </div>


    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>

    <script src="../assets/js/parse.js"></script>
    <script src="../assets/js/main.js"></script>
{% endblock %}
