ul.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
}

ul.pagination li {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 0px;
}
ul.pagination li a {
    font-size: 18px;
    color: #4e5052;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /*border: 2px solid #4e5052;*/
}

ul.pagination li a:hover,
ul.pagination li a.active {
    background: #256eff;
    color: #fff;
    border-color: #256eff;
}
