{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{ 'Cart'|trans }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        {% for product in products %}
                        <div class="thubmnail-recent">
                            {% if(product.picture) %}
                                <img class="recent-thumb"
                                     src="{{ asset('uploads/pictures/products/' ~ product.picture) }}"
                                     alt="#">
                            {% else %}
                                <img class="recent-thumb"
                                     src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                     alt="#">
                            {% endif %}
                            <h2><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$ {{ product.price|price }}</ins>
                                <del>$ {{ product.price|oldPrice(2) }}</del>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                                <table class="shop_table cart">
                                    <thead>
                                    <tr>
                                        <th class="product-remove">{{ 'Delete'|trans }}</th>
                                        <th class="product-name">{{ 'Product'|trans }}</th>
                                        <th class="product-quantity">{{ 'Price'|trans }}</th>
                                        <th class="product-quantity">{{ 'QTY'|trans }}</th>
                                        <th class="product-subtotal">{{ 'Total'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in cart_all.getAll %}
                                    <tr class="cart_item cart-{{ product.id }}" id="cart-{{ product.id }}">
                                        <td class="product-remove">
                                            <form class="mx-2">
                                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                                <button data-product-id="{{ product.id }}"
                                                        class="btn cart_product_delete">
                                                    ×
                                                </button>
                                            </form>
                                        </td>
                                        <td class="product-thumbnail">
                                            {{ product.name|slice(0, 25) }}
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">{{ product.price|price}}</span>
                                        </td>

                                        <td class="product-quantity" style="display: flex; justify-content: center">
                                            <form>
                                                <input type="hidden" value="plus" name="type">
                                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                                <div class="quantity buttons_added">
                                                    <input data-product-id="{{ product.id }}" type="button" class="minus cart_product_update" value="+">
                                                </div>
                                            </form>
                                            <span style="margin: 5px 10px" class="amount">{{ product.qty}}</span>
                                            <form>
                                                <input type="hidden" value="minus" name="type">
                                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                                <div class="quantity buttons_added">
                                                    <input data-product-id="{{ product.id }}" type="button" class="minus cart_product_update" value="-">
                                                </div>
                                            </form>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">{{ product.price|oldPrice(product.qty)}}</span>
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>Cart Totals</h2>
                                    <table>
                                        <tbody>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount cart_total">{{ cart_all.getTotal }}</span></strong></td>
                                        </tr>
                                        <tr>
                                            {% if(cart_all.getAll) %}
                                                <td class="actions" colspan="6">
                                                    <form action="{{ path('checkout') }}" method="POST">
                                                        <button class="checkout-button button alt wc-forward" type="submit">Stripe</button>
                                                    </form>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
