{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <div class="container my-5">

        <h1>Your orders</h1>
        {% for order in orders %}
        <div class="card mt-5">
            <div class="card-header">
                {{ order.createdAt|ago  }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Total: {{ order.total }} $</h5>
            </div>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price for each</th>
                <th>QTY</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for product in order.getOrderProducts %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.getProduct.getName }}</td>
                <td>{{ product.getProduct.getPrice }} $</td>
                <td>{{ product.getQty }} </td>
                <td>
                    {% set total = product.getProduct.getPrice * product.getQty %}
                    {{ total }} $
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
    </div>
{% endblock %}
