<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container my-5">
    <h1>Your orders</h1>
    {% for order in orders %}
        <div style="margin-bottom: 60px">
            <div class="card">
                <div class="card-header">
                    {{ order.createdAt|ago }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Total: {{ order.total }} $</h5>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th style="width: 25%">Id</th>
                    <th style="width: 100px">Name</th>
                    <th>Price</th>
                    <th style="width: 100px">QTY</th>
                    <th>Total</th>
                    <th style="width: 100px">Image</th>
                </tr>
                </thead>
                <tbody>
                {% for product in order.getOrderProducts %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td style="text-align: center">{{ product.getProduct.getName }}</td>
                        <td>$ {{ product.getProduct.getPrice }}</td>
                        <td style="text-align: center">    {{ product.getQty }} </td>
                        <td>
                            {% set total = product.getProduct.getPrice * product.getQty %}
                            {{ total }} $
                        </td>
                        <td style="text-align: center">
                            {#                            {% if(product.getProduct.getPicture) %} #}
                            {#                                <img style="width: 50px; height: 50px" #}
                            {#                                     src="{{ asset('uploads/pictures/products/' ~ product.getProduct.getPicture) }}" #}
                            {#                                     alt="{{ asset('uploads/pictures/products/' ~ product.getProduct.getPicture) }}"> #}
                            {#                            {% else %} #}
                            <img style="width: 75px; height: 75px"
                                 src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                 alt="#">
                            {#                            {% endif %} #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
</div>
</body>
</html>
