{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 50px; margin-top: 50px;">
         <div class="col-md-8">
             <a style="margin: 20px 0" href="{{ path('app_user_show', {'id': app.user.id}) }} " class="btn btn-primary">Back</a>
             <div class="product-content-right">
                <div class="woocommerce">
                    <table class="shop_table cart">
                        <thead>
                        <tr>
                            <th class="product-remove">Image</th>
                            <th class="product-name">Product</th>
                            <th class="product-quantity">Price</th>
                            <th class="product-quantity">QTY</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in order.getOrderProducts %}
                            <tr class="cart_item">
                                <td class="product-remove">
                                    {% if(product.getProduct.getPicture) %}
                                        <img style="width: 50px; height: 50px"
                                             src="{{ asset('uploads/pictures/products/' ~ product.getProduct.getPicture) }}"
                                             alt="#">
                                    {% else %}
                                        <img style="width: 50px; height: 50px"
                                             src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                                             alt="#">
                                    {% endif %}
                                </td>
                                <td class="product-thumbnail">
                                    {{ product.getProduct.getName }}
                                </td>

                                <td class="product-price">
                                    <span class="amount">{{ product.getProduct.getPrice|price }}</span>
                                </td>

                                <td class="product-quantity" style="display: flex; justify-content: center">
                                    <span style="margin: 5px 10px" class="amount">{{ product.getQty }}</span>
                                </td>

                                <td class="product-subtotal">
                                    <span class="amount">$ {{ product.getProduct.getPrice|oldPrice(product.getQty) }}</span>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="cart-collaterals">
                        <div class="cart_totals ">
                            <h2>Order Total</h2>
                            <table>
                                <tbody>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount cart_total">{{ order.total }}</span></strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>

{% endblock %}
