{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Thanks for your order!</h1>
        <p>
            We appreciate your business!
            If you have any questions, please email
            <a href="mailto:orders@example.com">orders@example.com</a>.
        </p>
    </div>

{% endblock %}
