<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://www.paypal.com/sdk/js?client-id=Aejz12mMV3OR15SN0e2J6bZKhs_gyxVUbJlumngjQ-8NlScUzCmwKU8GrCpRaZn6dPNd70WWIgmIvFlD&components=buttons"></script>

    <title>Document</title>
</head>
<body>
<div id="paypal-button-container" class="container w-25">

</div>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '0.01'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                console.log('yes')
            }).error(function () {
                console.log('no')
            });
        }
    }).render('#paypal-button-container');
</script>
</body>
</html>