{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px;">
        <h1 style="text-align: center">Orders</h1>

        {% for order in user.orders %}
            <div class="col-md-8" style="margin-top: 50px;">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <table>
                                    <tbody>
                                    <tr class="order-total">
                                        <th>Order ID</th>
                                        <th>Order Total</th>
                                        <th>Show</th>
                                    </tr>
                                    <tr>
                                        <td><strong><span class="amount cart_total">{{ order.id }}</span></strong></td>
                                        <td><strong><span class="amount cart_total">{{ order.total }}</span></strong></td>
                                        <th>
                                            <a href="{{ path('order_show', {'id': order.id}) }}" class="btn btn-primary">Show</a></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}

    </div>

    <div style="margin-left: 20px; margin-bottom: 50px; text-align: center">
        <h1>Downloads</h1>
        <a href="{{ path('user_order_download_pdf') }}" class="btn btn-primary">PDF</a>
        <a href="{{ path('user_order_download_excel') }}" class="btn btn-primary">EXCEL</a>
    </div>
{% endblock %}
