{% extends 'base.html.twig' %}

{% block title %}Email index{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Email index</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for email in emails %}
                <tr>
                    <td>{{ email.id }}</td>
                    <td>{{ email.email }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
